{% extends 'base.html' %}
{% load static %}
{% load localize %}
{% load translate %}
{% block content %}
    <!-- Content -->
    <div class="page-content">
        <!-- Error Page -->
		<div class="section-full dz_error-405 content-inner overlay-black-dark" style="background-image:url(images/background/bg1.jpg); background-position: 50% 50%;">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 text-center text-gray m-tb30">
						<div class="dz_error">404</div>
					</div>
					<div class="col-lg-7 m-b30">
						<h2 class="error-head text-gray">Something went wrong !</h2>
						<p class="font-16 text-gray">We are sorry but it appears that the page you are looking for could not be found. We are working on it and we will get it fixed as soon as possible.</p>
						<div class="dlab-divider bg-gray-dark"></div>
						<p class="text-gray">You can go back to the Main Page by clicking the button.</p>
						<div class="widget">
                            <div class="subscribe-form p-a0 col-lg-6 col-md-6">
								<form>
									<div class="input-group">
										<input name="text" class="form-control radius-no" placeholder="Search For Pages" type="text">
										<span class="input-group-btn">
											<button type="submit" class="site-button radius-no">SEARCH</button>
										</span> 
									</div>
								</form>
							</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<!-- Error Page END -->
    </div>
    <!-- Content END-->
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/wow/wow.js"></script><!-- WOW JS -->

<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="plugins/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="plugins/lightgallery/js/lightgallery-all.min.js"></script><!-- Lightgallery -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="plugins/countdown/jquery.countdown.js"></script><!-- COUNTDOWN FUCTIONS  -->
<script src="js/dz.ajax.js"></script><!-- CONTACT JS  -->
<script src="plugins/rangeslider/rangeslider.js"></script><!-- Rangeslider -->
<script src="plugins/switcher/switcher.js"></script><!-- Switcher -->


</body>
</html>
{% endblock %}