{% extends 'base.html' %}
{% load static %}
{% load localize %}
{% load translate %}
{% block content %}
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url({% static 'images/banner/bnr1.jpg' %});">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">{% localize post 'title' lang %}</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="index.html">Home</a></li>
							<li>{% localize post 'title' lang %}</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-area">
            <div class="container max-w900">
                <!-- blog start -->
                <div class="blog-post blog-single">
					<div class="dlab-info">
						<div class="dlab-post-meta">
							<ul>
								<li class="post-author"> <i class="la la-user-circle"></i> {{ post.author }} </li>
								<li class="post-date"> <i class="la la-clock"></i> {{ post.publish }} </li>
							</ul>
						</div>
						<h2 class="dlab-title">{% localize post 'title' lang %}</h2>
						<div class="dlab-post-text text">
							{% localize post 'content' lang %}
						</div>
						<div class="post-footer">
							<div class="share-post">
								<ul class="list-inline m-b0">
									<li><a href="javascript:void(0);" class="site-button sharp radius-xl facebook"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button sharp radius-xl instagram"><i class="fab fa-instagram"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button sharp radius-xl twitter"><i class="fab fa-twitter"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button sharp radius-xl linkedin"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
                <!-- blog END -->
            </div>
        </div>
    </div>
{% endblock %}