{% extends 'base.html' %}
{% load static %}
{% load localize %}
{% load translate %}
{% block content %}
    <!-- Content -->
    <div class="page-content bg-gray">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url({% static 'images/banner/bnr1.jpg' %});">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">{% translate category 'title' lang %}</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="index.html">Home</a></li>
							<li>{% translate category 'what' lang %}</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <div class="content-area">
            <div class="container">
                <div class="row">
                    <!-- left part start -->
                    <div class="col-xl-9 col-lg-8">
                        
                            <!-- blog grid  -->
                            <div id="masonry" class="dlab-blog-grid-2 row">
                            	{% if post_list %}
                            	{% for post in post_list %}
                                <div class="post card-container col-lg-6 col-md-6 col-sm-12">
									<div class="blog-post blog-grid blog-rounded bg-white shadow">
										<div class="dlab-post-media dlab-img-effect"> 
											<a href="blog-single.html"><img src="{{ post.image.url }}" alt=""></a> 
										</div>
										<div class="dlab-info p-a25">
											<div class="dlab-post-meta">
												<ul>
													<li class="post-author"> <i class="la la-user-circle"></i> {{ post.author }} </li>
												</ul>
											</div>
											<div class="dlab-post-title ">
												<h4 class="post-title"><a href="{% url 'main:posts' post.slug %}">{% localize post 'title' lang %}</a></h4>
											</div>
											<div class="dlab-post-text">
												<p>{% localize post 'description' lang %}</p>
											</div>
											<div class="post-footer">
												<div class="dlab-post-meta">
													<ul>
														<li class="post-date"> <i class="la la-clock"></i> {{ post.publish|date:'Y-m-d H:i' }} </li>
													</ul>
												</div>
												<ul class="dlab-social-icon dez-border">
													<li><a class="site-button facebook circle-sm fab fa-facebook-f" href="javascript:void(0);"></a></li>
													<li><a class="site-button twitter circle-sm fab fa-twitter " href="javascript:void(0);"></a></li>
													<li><a class="site-button linkedin circle-sm fab fa-linkedin-in " href="javascript:void(0);"></a></li>
													<li><a class="site-button instagram  circle-sm fab fa-instagram  " href="javascript:void(0);"></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
                            </div>
                            <!-- blog grid END -->
                            <!-- Pagination start -->
                           <div class="pagination-bx rounded-sm primary clearfix m-b30 text-center col-md-12">
								<ul class="pagination">
									<li class="previous"><a href="#" class="prev"><i class="ti-arrow-left"></i></a></li>
									{% for n in num_pages %}
										<li><a href="" data-num='{{ n }}' class='pag-item'>{{ n|add:1 }}</a></li>
									{% endfor %}
									<li class="next"><a href="#" class="nextbtn"><i class="ti-arrow-right"></i></a></li>
								</ul>
							</div>
							{% else %}
								<center>По данному запросу ничего не нашлось.</center>
							{% endif %}
                            <!-- Pagination END -->
                         
                    </div>
                    <!-- left part start -->
                    <!-- Side bar start -->
                    <div class="col-xl-3 col-lg-4">
                        <aside class="side-bar sticky-top">
                            <div class="widget">
                                <h5 class="widget-title style-1">{% translate 'aside' 'search' lang %}</h5>
                                <div class="search-bx style-1">
                                    <form role="search" method="GET">
                                        <div class="input-group">
                                            <input name="search" class="form-control" placeholder="{% translate 'aside' 'keywords' lang %}" type="text">
                                            <span class="input-group-btn">
												<button type="submit" class="fas fa-search site-button sharp radius-no"></button>
                                            </span> 
										</div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget recent-posts-entry">
                                <h5 class="widget-title style-1">{% translate 'aside' 'recent' lang %}</h5>
                                <div class="widget-post-bx">
                                	{% for post in posts %}
                                    <div class="widget-post clearfix">
                                        <div class="dlab-post-media"> 
											<img src="{{ post.image.url }}" width="200" height="143" alt=""> 
										</div>
                                        <div class="dlab-post-info">
                                            <div class="dlab-post-meta">
												<ul>
													<li class="post-date"> <i class="la la-clock"></i> {{ post.created_at|date:'Y-m-d H:i' }}</li>
												</ul>
											</div>
											<div class="dlab-post-header">
                                                <h6 class="post-title"><a href="blog-single-left-sidebar.html">{% localize post 'title' lang %}</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="max_num" style="display: none">{{ max_num }}</div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
	function updateQueryStringParameter(uri, key, value) {
	  var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
	  var separator = uri.indexOf('?') !== -1 ? "&" : "?";
	  if (uri.match(re)) {
	    return uri.replace(re, '$1' + key + "=" + value + '$2');
	  }
	  else {
	    return uri + separator + key + "=" + value;
	  }
	}
	const getParameter = (key) => {
	    address = window.location.search
	    parameterList = new URLSearchParams(address)
	    return parameterList.get(key)
	}


	var pagination = document.querySelectorAll('.pag-item')
	pagination.forEach( pg => {
		var num = parseInt(pg.getAttribute('data-num')) + 1
		var key = 'page';
		var url = (window.location.href).replace('#', '');
		var new_url = updateQueryStringParameter(url, key, num)
		pg.setAttribute('href', new_url);
	})

	var prev = document.querySelector('.prev')
	var next = document.querySelector('.nextbtn')
	var max_num = parseInt(document.querySelector('.max_num').innerHTML)

	var current_page = parseInt(getParameter('page')) || 1;
	console.log(current_page, max_num)
	if (current_page > 1) {
		console.log('d', updateQueryStringParameter((window.location.href).replace('#', ''), 'page', current_page-1))
		prev.setAttribute('href', updateQueryStringParameter((window.location.href).replace('#', ''), 'page', current_page-1))
	}
	if (current_page < max_num) {
		var new_url = updateQueryStringParameter((window.location.href).replace('#', ''), 'page', current_page+1)
		next.setAttribute('href', new_url)
	}
</script>
{% endblock %}